<section>
    <h1>Eduard Bolma</h1>
    <h2>Junior Front-end developer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur beatae eaque natus similique dolor tempora eum
        doloribus, quod eligendi necessitatibus nam iure qui? Dicta, recusandae soluta ullam unde omnis aspernatur!</p>
    
</section>

<section>
    <h3>Tech Skills</h3>    
        <ul>
            <li>HTML5&CSS3</li>
            <li>JavaScript</li>
            <li>WebPack/Parcel</li>
            <li>Sass/Less</li>
        </ul>
    <h3>Soft Skills</h3>
    <ul>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
    </ul>

    <h3>Languages</h3>
    <ul>
        <li>English - C1(fluent)</li>
        <li>Italian - B2</li>
        <li>Russian - C2(mother-language)</li>
    </ul>
    <h3>Contacts</h3>
    <ul>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Facebook</a></li>
        <li>Email:<a href="#" type="email">ed.bolma21@gmail.com</a>
        </li>
        <li>Phone <a href="#" type="number">+393663139879</a></li>
    </ul>
</section>

<section>
    <h3>Projects</h3>
    <ul>
        <li>
            <h4>Project-1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, est!</p>
        </li>
        <li>
            <h4>Project-2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, est!</p>
        </li>
        <li>
            <h4>Project-3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, est!</p>
        </li>
    </ul>
</section>

<section>
    <h3>Education</h3>
    <h4>GoIT</h4>
    <p>Lorem ipsum dolor sit amet.</p>
    <h4>University of Pavia</h4>
    <p>Lorem ipsum dolor sit amet.</p>
    <h4>Dnipro National University</h4>
    <p>Lorem ipsum dolor sit amet.</p>
</section>

<section>
    <h3>Work Experience</h3>
    <h4>Rocking Horse</h4>
    <p>Lorem ipsum dolor sit amet.</p>
    <h4>Transvitek</h4>
    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
    <h4>Taty Constraction</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, hic.</p>
</section>



